:root{
    --heading-size:50px;
    --sub-heading-size:35px;
    --small-text-size:16px;
    --button-bgc:#E68A00;
    --bgc: #FFF9F0;
    --text-color:#000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    color:  var(--text-color);    
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #FFF9F0;
}
::-webkit-scrollbar-button{
    background-color:#E68A00;
    cursor: pointer;
}
::-webkit-scrollbar-track{
    background-color: beige;
    width: 10px;
    border: 2px solid burlywood;
}
::-webkit-scrollbar-thumb{
    background-color: #E68A00;
    height: 20px;
    border-radius: 20px;
}
body{
    margin: 0 auto;
    max-width: 1300px;
    min-width: 300px;
}
button{
    background-color: var(--button-bgc);
    color: #fff;
    border: none;
    padding: 13.68px 20.51px ;
    border-radius: 20px;
    font-size: var(--small-text-size);
}
.hero{
    display: flex;
    justify-content: space-between;
    padding:  70px ;
    gap: 50px;
}
.hero .hero-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.hero .hero-text .header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero .hero-text .header .name{
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0px;
}
.hero .hero-text .header .des{
    color: var(--button-bgc);
    font-weight: 700;
    font-size: var(--heading-size);
    letter-spacing: 0px;
}
.hero .hero-text .text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero .hero-text .text p{
    font-size: var(--small-text-size);
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0%;
}
.hero .hero-img{
    position: relative;
    width: 100%;
}
.hero .hero-img .img1{
    position: relative;
    left: 10px;
    top: 5px;
    height: 40%;
    width: 40%;
}
.img1 img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.hero .hero-img .img2{
    position: absolute;
    top: 0;
    width: 100%;

}
.img2 img{
    width: 100%;
}
.container{
    padding: 0 70px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--bgc);
    height: 489px;
}
.container .text{
    font-size: var(--sub-heading-size);
    font-weight: 700;
    line-height: 52.5px;
    text-align: center;
}
.container button{
    font-weight: 400;
    font-size: var(--small-text-size);
    letter-spacing: 0%;

}

@media(max-width:768px){
    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding: 50px;
    }
    .container{
        padding: 50px;
    }
}


