:root{
    --heading-size:50px;
    --sub-heading-size:35px;
    --small-text-size:16px;
    --button-bgc:#E68A00;
    --bgc: #FFF9F0;
    --text-color:#000033;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    color:  var(--text-color);      
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #FFF9F0;
}
::-webkit-scrollbar-button{
    background-color:#E68A00;
    cursor: pointer;
}
::-webkit-scrollbar-track{
    background-color: beige;
    width: 10px;
    border: 2px solid burlywood;
}
::-webkit-scrollbar-thumb{
    background-color: #E68A00;
    height: 20px;
    border-radius: 20px;
}
body{
    margin: 0 auto;
    max-width: 1300px;
    min-width: 300px;
}
a{
    text-decoration: none;
    color: #000;
}
button{
    background-color: var(--button-bgc);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: var(--small-text-size);
}
li{
    list-style-type: none;
}
.nav-bar-sm{
    display: none;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    padding: 20px 70px 20px;
    background-color: transparent;
}
.nav-bar ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-bar .nav-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.logo{
    font-size: 32px;
    font-weight: 700;
}
.logo span{
    color: var(--button-bgc);
}
.scrolled{
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #bebab5;

}
.hero{
    display: flex;
    flex-direction:row;
    gap:50px;
    justify-content: space-between;
    padding: 90px 70px 0;
    width: 100%;
}
.hero-img{
    position: relative;
    /* width: 547.8px; */
    /* height: 536.6px; */
    width: 100%;
    height: 100%;
}
.hero-text{
    width: 100%;
    height: 100%;
    /* width: 630px; */
    /* height: 367.4px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-text h1{
    font-size: var(--heading-size);
}
.header-text{
    font-size: var(--small-text-size);
    line-height: 26px;
}
.img1{
    position: relative;
    width: 30%;
    height: 50%;
    right: -15px;
    bottom: -15px;
}
.img1 img{
    width: 100%;
    height: 100%;
}
.hero .hero-img .img2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* width: 500px; */
}
.img2 img{
    width: 100%;
}
.img3{
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 #000055;
    border-radius: 17px;
    /* width: 200px; */
    /* height: 100px; */
    width: 40%;
    height: 60%;
    position: relative;
    z-index: 100;
}
.hero-text button{
    width: fit-content;
}
.hero2{
    padding: 100px 70px 250px;
    margin: 50px 0;
    display: flex;
    background-color: #FFF9F0;
    gap: 100px;
    height: fit-content;
    align-items: center;
    
}
.hero2 .hero-img{
    position: relative;
    width: 100%;
    height: 100%;
}
.hero2 .hero-img .img1{
    height: 100%;
    position: relative;
    top:-0px;
}
.hero2 .hero-img .img1 img{
    width: 100%;
}
.hero2 .hero-img .img2{
    position:absolute;
    top:  0;
    width: 100%;
    height: 100%;

}
.hero2 .hero-img .img2 img{
    width: 100%;
}

.hero2 .hero-text{
    width:100%;
}
.hero2 .hero-text h2{
    font-size: 25px;
    font-weight: 700;
}
.hero2 .hero-text .text{
    font-size: var(--small-text-size);
    line-height: 26px;
}
.bullet-text{
    line-height: 26px;
}
.hero2 button{
    background-color: transparent;
    border: 2px solid var(--button-bgc);
    color: var(--button-bgc);
}
.container{
    display:flex;
    flex-direction: column;
    height: 100%;
    gap: 100px;
    padding: 0 70px 70px;
}
.container .heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.container .heading h2{
    font-size: var(--sub-heading-size);
    font-weight: 700;
    line-height: 52.5px;
}
.container .heading .text{
    font-size: var(--small-text-size);
    font-weight: 300;
    line-height: 26px;
}

/*border: 1.62px solid #E68A00
    box-shadow: 0px 10px 25px 0px #00003314;

*/
.box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;
}
.box-container .box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: none;
    box-shadow: 0px 10px 25px 0px #00003314;
    border-radius: 20px;
    padding: 20px;
}
.box-container .box:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 1s;
}
.box-container .box .img{
    width: 18%;
    display: flex;
    justify-content: center;
    background-color: #FFF9F0;
    padding: 5px 10px;
    border-radius: 6.54px;
}
.box-container .box .img img{
    width: 100%;
}
.box-container .box h3{
    font-size: 20px;
    font-weight: 700;
}
.box-container .box .text{
    font-size:13px;
    font-weight: 300;
    line-height: 26px;
}
.box button{
    background-color: transparent;
    border: 1.62px solid var(--button-bgc);
    font-size: 12.94px;
    color: var(--button-bgc);
    border-radius: 16.18px;
    padding: 11.06px 16.59px 11.06px 16.59px;
    width: fit-content;
}
.customers{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #FFF9F0;
    padding: 100px 70px 150px 70px;
    position: relative;
}
.customers .up, .down{
    width: 5%;
}
.up{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.down{
    position: absolute;
    bottom: 0;
    left: 0;
}
.customers h3{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.all-customers{
    display: flex;
    gap: 20px;
    flex-direction: row;
    /* width: 200%; */
}

.all-customers .customer{
    /* width: 500px; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 10px 25px 0px #00003314;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    cursor:grab;

}
.c-img{
    display: flex;
    justify-content: space-between;

}
.c-img .img{
    display: flex;
    align-items: center;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.m-name{
    font-size: 13px;
    font-weight: 700;
    font-family: 'mulish';

}
.country{
    font-size: 13px;
    font-weight: 200;
    font-family: 'mulish';

}
.icon{
    font-size: 48px;
    font-weight: 700;
    color: var(--button-bgc);
    font-family: 'mulish';

}
.customer-text{
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;

}
.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 500px;
    padding: 50px 70px 50px;
}
.news .heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.news .heading h3{
    font-size: 35px;
    font-weight:700;
}
.news .heading .text{
    font-size: var(--small-text-size);
    font-weight: 300;
    line-height: 26px;
}
.input-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.input-btn .input{
    width:50%;
}

.input-btn .input input{
    width: 100%;
    padding: 20px;
    height: 53px;
    border-radius: 22.67px;
    border: none;
    background: #F2F1F1;
    color: #6B728066;
    font-size: 13px;
    font-weight: 300;
}
.input-btn button{
    width: 10%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: var(--small-text-size);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:70px  ;
    background-color: #000033F2;
    font-family: 'mulish';
}
footer a{
    color: #fff;
}
.footer1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer1 .container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* text-wrap: nowrap; */
}
.footer1 .container .text{
    color: #fff;
    font-family: 'mulish';

}
.footer1 .container h3{
    font-weight: 700;
    font-size: 29.06px;
    color: #fff;
}
.footer1 .container h3 span{
    color: var(--button-bgc);
}
.footer1 .container a{
    font-family: 'mulish';
}
.connect{
    color: #fff;
    font-family: 'mulish';

}
.footer2 p{
    color: #fff;
}
@media(max-width:768px){
    .nav-bar{
        display: none;
    }
    .nav-bar-sm{
        display: flex;
        flex-direction: column;
    }
   .header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px;
   }
   .close{
    display: none;
   }
   .menu, .close{
    width: 30px;
   }
    .hero{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .nav-bar-sm .nav-links{
        display:none;
        flex-direction: column;
        gap: 30px;
        padding: 10px;

    }
    .nav-bar-sm .nav-links ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .nav-bar-sm .nav-links ul li{
        background-color: #FFF9F0;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        padding: 5px;
    }
    .nav-links ul li:hover{
        border: 2px solid var(--button-bgc);
        
    }    
    .contact{
        width: 100%;
    }
    .contact a button{
        width: 100%;
        border-radius: 20px;
        padding: 5px;
    }
    .hero-img .img3{
        width: 60%;
    }
    .img3 img{
        width: 50%;
    }
    .hero-text{
        text-align: center;
        align-items: center;
    }
    .hero2{
        flex-direction:column;
        gap: 100px;
        padding-bottom:100px ;
    }
    .bullet-text{
        text-align: justify;
        text-wrap: nowrap;
    }
    .hero2 button{
        text-align: center;
    }
    .box-container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .box{
        align-items: center;

    }
    .all-customers{
        flex-direction: column;
    }
    .input-btn {
    flex-direction: column;
    gap: 25px;
    }
    .input-btn .input {
        width: 100%;
    }
    .input-btn button{
    width: 50%;
    }
    footer{
        flex-direction:column;
        gap: 0px;
        padding: 0;
        text-wrap: wrap;
    }
    footer .container{
        flex-direction: column;
        gap:  0px;
    }
    .footer1{
        flex-direction: column;
        gap: 0px;
    }
}